.title {
  width: 320px;
  display: flex;
  justify-content: center;
  margin-left: calc((100% - 320px) / 2);
  color: #2a363b;
}

.message {
  width: 320px;
  display: flex;
  justify-content: center;
  margin-left: calc((100% - 320px) / 2);
  font-size: 18px;
  margin-top: 15px;
  color: #2a363b;
}
